<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compounds</key>
	<array>
		<array>
			<string>物飲鳥白</string>
			<string>物</string>
			<string>thing</string>
		</array>
		<array>
			<string>物え飲鳥い白買</string>
			<string>買い物</string>
			<string>shopping</string>
		</array>
		<array>
			<string>物み飲い白買</string>
			<string>飲み物</string>
			<string>beverage</string>
		</array>
		<array>
			<string>物み飲い白買鳥</string>
			<string>鳥</string>
			<string>bird</string>
		</array>
		<array>
			<string>物み飲い白買鳥</string>
			<string>白鳥</string>
			<string>White Swan</string>
		</array>
		<array>
			<string>物み理い料買鳥</string>
			<string>料理 </string>
			<string>cooking</string>
		</array>
		<array>
			<string>物み理い料買金</string>
			<string>料金</string>
			<string>charge</string>
		</array>
		<array>
			<string>特み理い料買金に</string>
			<string>特に</string>
			<string>especially</string>
		</array>
		<array>
			<string>特み理い安買金に</string>
			<string>安い</string>
			<string>cheap</string>
		</array>
		<array>
			<string>特心理い安買金に</string>
			<string>安心</string>
			<string>relief</string>
		</array>
	</array>
	<key>timeToSolve</key>
	<integer>200</integer>
	<key>pointsPerTile</key>
	<integer>10</integer>
</dict>
</plist>
