<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compounds</key>
	<array>
		<array>
			<string>朝飯重肉い</string>
			<string>重い</string>
			<string>heavy</string>
		</array>
		<array>
			<string>朝軽ご空い着</string>
			<string>軽い</string>
			<string>light</string>
		</array>
		<array>
			<string>い朝飯うごる牛さ</string>
			<string>うるさい</string>
			<string>noisy, loud</string>
		</array>
		<array>
			<string>朝飯心肉牛配る</string>
			<string>心配</string>
			<string>worry</string>
		</array>
		<array>
			<string>朝ちおご肉金持</string>
			<string>お金持ち</string>
			<string>rich person</string>
		</array>
		<array>
			<string>貧なご肉同乏じ</string>
			<string>貧乏な</string>
			<string>poor</string>
		</array>
		<array>
			<string>物み変空買金な時</string>
			<string>変な</string>
			<string>weird</string>
		</array>
		<array>
			<string>特みない楽料くに手</string>
			<string>楽くな</string>
			<string>comfort</string>
		</array>
		<array>
			<string>特み美海い味分しに外</string>
			<string>美味しい</string>
			<string>delicious</string>
		</array>
		<array>
			<string>特心不理い飯悪味昼</string>
			<string>不味い</string>
			<string>unappetising</string>
		</array>
	</array>
	<key>timeToSolve</key>
	<integer>200</integer>
	<key>pointsPerTile</key>
	<integer>10</integer>
</dict>
</plist>
