<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compounds</key>
	<array>
		<array>
			<string>朝い致た肉す</string>
			<string>致す</string>
			<string>to do</string>
		</array>
		<array>
			<string>朝飯ご肉</string>
			<string>頂く</string>
			<string>to receive</string>
		</array>
		<array>
			<string>朝伺ごう牛</string>
			<string>伺う</string>
			<string>to ask</string>
		</array>
		<array>
			<string>朝不参ごる安</string>
			<string>参る</string>
			<string>to go</string>
		</array>
		<array>
			<string>朝飯申体す</string>
			<string>申す</string>
			<string>to say</string>
		</array>
		<array>
			<string>上朝しごげ空差る</string>
			<string>差し上げる</string>
			<string>to give, offer</string>
		</array>
		<array>
			<string>物る理御金気座ご肉</string>
			<string>御座る</string>
			<string>to be</string>
		</array>
		<array>
			<string>特み歩空料く手</string>
			<string>歩く</string>
			<string>to walk</string>
		</array>
		<array>
			<string>特曲気安が買る</string>
			<string>曲がる</string>
			<string>to bend</string>
		</array>
		<array>
			<string>特戻悪安るにい</string>
			<string>戻る</string>
			<string>to turn back</string>
		</array>
	</array>
	<key>timeToSolve</key>
	<integer>200</integer>
	<key>pointsPerTile</key>
	<integer>10</integer>
</dict>
</plist>
